@import '../../styles/global.scss';
@import '../../styles/variables.scss';



.sidebar{
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-width:300px;
    border-radius: none;
    height:100vh;
    background-color: $navigationBackgroundColor;
    color:$navigationColor;
    padding:30px 10px;

    h1{
        text-align: center;
        font-size:2rem;
        user-select:none;
        margin-top:20px;
        color: $navigationColor;

        span{
            display:flex;
            justify-content: center;
            padding:10px 10px;
            font-size:1.2rem;
            background-color: lighten($navigationBackgroundColor, 4%);
            color:$secondaryNavigationColor;
            margin-top:20px;
        }
    }

    h2{
        user-select:none;
        color: $navigationColor;
    }

    .avatar{
        width: 200px;
        height:200px;
        margin: 30px 5px;
    }

    .email{
        font-size:0.8rem;
        font-weight:400;
        color:$navigationColor;
        text-decoration: none;
        user-select: none;
    }

    footer{
        position: absolute;
        bottom:0;
        left:0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        padding:10px 0;

        .copyright{
            color:darken($navigationColor, 10%);
            font-size:0.7rem;
        }
    }
}


