// Background Colors
// $primaryBackgroundColor: #263238;
$primaryBackgroundColor: #263238;
$secondaryBackgroundColor: #424242;
$primaryColor: #fff;

$navigationBackgroundColor: #546E7A;
$navigationColor: #fff;
$secondaryNavigationColor: #fff;