*{
  padding:0;
  margin:0;
}


h1{
  font-size:20px;
}

h2{
  font-size:20px;
}


.App{
  background-color: #FFF;
  min-height:100vh;
}

header{
  height:50px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-color: #455A64;
  color:#fff;
  margin-bottom:10px;
  box-shadow: 0px 1px 5px #000d;
}

nav a{
  text-decoration:none;
  margin-left:10px;
  color:#fff;
}


.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

footer{
  width:100%;
  text-align:center;
}